:root {
  --Slate-300: hsl(212, 45%, 89%);
  --Slate-500: hsl(216, 15%, 48%);
  --Slate-900: hsl(218, 44%, 22%);
}
@font-face {
  font-family: 'Outfit';
  src: url(/images/Outfit-Regular.ttf);
}

html {
  height: 100%;
}
body {
  height: 100%;
  background-color: var(--Slate-300);
  font-family: 'Outfit', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

main {
  display: flex;
  flex-direction: column;
  padding: 16px;
  border: 0px solid black;
  border-radius: 20px;
  background-color: white;
  width: 320px;
  height: 499px;
}

main img {
  border-radius: 10px;
}

h1 {
  padding: 0 16px;
  color: var(--Slate-900);
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
}
h2 {
  padding: 0 16px;
  color: var(--Slate-500);
  font-weight: 400;
  font-size: 1.05rem;
  text-align: center;
}
.attribution {
  font-size: 0.9375rem;
}
/* 
- Mobile: 375px
- Desktop: 1440px

> 💡 These are just the design sizes. Ensure content is responsive and meets WCAG requirements by testing the full range of screen sizes from 320px to large screens.

## Colors

- White: hsl(0, 0%, 100%)

- Slate 300: hsl(212, 45%, 89%)
- Slate 500: hsl(216, 15%, 48%)
- Slate 900: hsl(218, 44%, 22%)

## Typography

### Body Copy

- Font size (paragraph): 15px

### Font

- Family: [Outfit](https://fonts.google.com/specimen/Outfit)
- Weights: 400, 700 */
